<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show date</title>
</head>
<body>
    <h1>X-Team Rocks</h1>
    <p>
        Today is {{ now }}
    </p>
</body>
</html>